<div class="app-sidebar sidebar-shadow">
    <div class="app-header-logo">
        <div class="logo-src"></div>
        <div class="header-pane ml-auto">
            <button class="hamburger hamburger--spring p-0" type="button" id="toggle-closed-sidebar">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div id="menu"></div>
</div>

<script>
    $.ajax({ url: "src/views/components/sidebar/sidebar.js" });
</script>