<div class="row h-100 no-gutters">
    <div class="d-none d-lg-block col-lg-4 bg-login"></div>
    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
            <div class="app-logo"></div>
            <h4>
                <div>Welcome back,</div>
                <span>Please sign in to your account.</span>
            </h4>
            <h6>
                No account?
                <a class="text-primary" href="#">Sign up now</a>
            </h6>
            <div class="divider"></div>
            <div>
                <form name="login">
                    <div class="row">
                        <!-- <div class="col-md-4">
                            <fieldset class="form-group">
                                <div role="group" tabindex="-1">
                                    <label for="company">Company</label>
                                    <select class="custom-select" id="company" name="company" placeholder="Choose one thing" data-allow-clear="1" required>
                                        <option value=""></option>
                                        <option value="MF">PT. METISKA FARMA</option>
                                        <option value="TL">PT. TEGUHSINDO LESTARITAMA</option>
                                        <option value="MISPLUS">MISPLUS</option>
                                        <option value="OTC">OTC</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div> -->
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <div role="group" tabindex="-1">
                                    <label for="nip">NIP</label>
                                    <input class="form-control" id="nip" name="nip" placeholder="NIP here..." type="text">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <div role="group" tabindex="-1">
                                    <label for="password">Password</label>
                                    <input class="form-control" id="password" name="password" placeholder="password here..." type="password">
                                </div>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input autocloomplete="off" class="custom-control-input" id="exampleCheck" name="check" type="checkbox" value="true">
                        <label class="custom-control-label" for="exampleCheck"> Keep me logged in </label>
                    </div>
                    <div class="divider"></div>
                    <div class="d-flex align-items-center">
                        <div class="ml-auto">
                            <a class="btn-lg btn btn-link" href="#">
                                Recover Password
                            </a>
                            <button class="btn btn-primary btn-lg" type="submit">
                                Login to Dashboard
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/src/views/pages/login/login.js"></script>