html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    font-size: 0.88rem;
    color: #495057;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #17a2b8;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

.scrollable {
    overflow-y: scroll;
}

.bg-login {
    background-image: url('../image/x.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.app-login-box h4 {
    margin-bottom: 1.5rem;
    font-weight: n;
}

.app-login-box h4 span {
    font-size: 1.1rem;
}

.app-login-box h4 div {
    opacity: .6;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    overflow: hidden;
    background: #e9ecef;
}

.app-logo {
    height: 40px;
    margin-bottom: 2rem;
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-image: url('/src/assets/image/logo.png');
}


.btn {
    font-size: 0.8rem;
    font-weight: 500;
}

button:focus {
    outline: none !important;
}

.app-header-right {
    display: flex;
    margin-left: auto;
    padding-right: 1.5rem;
}

.user-info-heading {
    opacity: .8;
    font-weight: bold;
}

.user-info-subheading {
    opacity: .5;
}

.settings-header-inner {
    margin: -1px -1px 0;
    padding: 1.5rem 0.5rem;
    padding-top: 1.8rem;
    padding-right: 0.5rem;
    padding-bottom: 1.2rem;
    padding-left: 0.5rem;
    position: relative;
}

.settings-header-background {
    background: url(https://demo.dashboardpack.com/architectui-angular-pro/assets/images/dropdown-header/city1.jpg);
    opacity: .1 !important;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
    opacity: .25;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    background-size: cover;
}

.settings-header {
    color: #fff;
    margin-top: -0.65rem;
    margin-bottom: 0.65rem;
}

.dropdown-menu-lg {
    min-width: 22rem;
}

.settings-header-title {
    font-weight: 500;
    font-size: 1.25rem;
}

.settings-header-subtitle {
    opacity: .8;
}

.settings-header-content {
    text-align: center;
}

.nav-item-header {
    text-transform: uppercase;
    font-size: 0.73333333rem;
    color: #6c757d;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.dropdown-menu {
    font-size: 0.88rem !important;
    box-shadow:
        0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    margin: 0.8rem 0.1rem;
}

.nav-item-divider {
    margin: 0.5rem 0;
    height: 1px;
    overflow: hidden;
    background: #dee2e6;
}

.nav-link .material-icons-outlined {
    color: #3f6ad8;
    font-size: 1rem;
    width: 30px;
    text-align: center;
    opacity: .45;
    margin-left: -10px;
}

.nav-link {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.nav-item-btn {
    padding: 0.5rem 1rem;
}

.dropdown-menu {
    border: none;
}

.app-header {
    background: #fafbfc;
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 10;
    transition: all .2s;
    position: fixed;
    width: 100%;
    padding-left: 280px;
}

.app-header.header-shadow {
    box-shadow:
        0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.app-content-outer {
    flex: 1;
    flex-direction: column;
    display: flex;
    z-index: 8;
    padding: 60px 0 0 280px;
    transition: all .2s;
}



.app-content-inner {
    flex: 1;
    padding: 30px 30px 0;
    background: #f0f3f5;
}

.app-page-title {
    padding: 30px;
    margin: -30px -30px 30px;
    position: relative;
    background: rgba(255, 255, 255, 0.45);
}

.material-icons-outlined {
    font-size: unset;
}

.app-page-title-icon {
    font-size: 2rem !important;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0.83333333rem;
    margin: 0 30px 0 0;
    background: #fff;
    box-shadow:
        0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-radius: 0.25rem;
    width: 60px;
    height: 60px;
}

.app-page-title-heading {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

.app-page-title .page-title-subheading {
    padding: 3px 0 0;
    font-size: 0.88rem;
    opacity: .6;
}

.app-header__logo {
    padding: 0 1.5rem;
    height: 60px;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: none;
}

.logo-src {
    height: 40px;
    width: 160px;
    background-image: url('/src/assets/image/logo.png');
    background-size: auto 40px;
    background-repeat: no-repeat;
}

.app-sidebar {
    background: white;
    display: flex;
    z-index: 20;
    overflow: hidden;
    width: 280px;
    position: fixed;
    height: 100vh;
    box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    transition: all .3s ease;
}

.app-header-logo {
    background: #fff;
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    height: 60px;
}

.v-sidebar-menu {
    overflow: scroll;
    width: auto !important;
    padding: 0 1.5rem 1.5rem;
}

.v-sidebar-menu::-webkit-scrollbar {
    display: none;
}

.v-sidebar-menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */

.vsm-header {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 1rem 0;
    font-weight: bold;
    color: #3f6ad8;
    white-space: nowrap;
}

.vsm-icon {
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px !important;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -17px;
    font-size: 1.5rem;
    opacity: .3;
    transition: color 300ms;
}

.vsm-link {
    display: block;
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 1.5rem 0 45px;
    position: relative;
    border-radius: .25rem;
    color: #495057;
    white-space: nowrap;
    transition: all .2s;
    text-decoration: none;
    border: 0;
    background: transparent;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-weight: 600;
}

.vsm-link:hover {
    background: #e0f3ff;
    color: #3f6ad8 !important;
}

.vsm-arrow {
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -17px;
    font-size: 1.5rem;
    font-style: normal;
    opacity: .3;
    transition: all 300ms;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.vsm-arrow:after {
    content: 'keyboard_arrow_up';
    font-family: 'Material Icons';
}

.vsm-list {
    padding: 0.75rem 0 0.75rem 2.25rem;
}

.vsm-item .vsm-link {
    padding: 0 1rem;
    height: 1.9rem;
    line-height: 1.9rem;
    font-weight: normal;
}

.vsm-dropdown {
    position: relative;
}

.vsm-dropdown::before {
    content: '';
    height: 100%;
    opacity: 1;
    width: 3px;
    background: #e0f3ff;
    position: absolute;
    left: 20px;
    top: 0;
    border-radius: 15px;
}

.vsm-link.collapsed {
    font-weight: normal;
}

.closed-sidebar .app-content-outer {
    padding-left: 80px;
}

.closed-sidebar .header-pane {
    display: none;
}

.closed-sidebar .app-sidebar {
    width: 80px;
    min-width: 80px;
    flex: 0 0 80px;
    z-index: 13;
}

.closed-sidebar .vsm-arrow,
.closed-sidebar .vsm-title {
    display: none;
}

.closed-sidebar .vsm-header {
    text-indent: -999em;
}


.closed-sidebar .v-sidebar-menu {
    padding: 0 0.5rem;
}

.closed-sidebar .vsm-icon {
    left: 50%;
    margin-left: -20px;
}

.closed-sidebar .v-sidebar-menu {
    padding: 0 0.5rem;
}

.closed-sidebar.closed-sidebar-open .header-pane {
    display: block;
}

.closed-sidebar.closed-sidebar-open .v-sidebar-menu {
    padding: 0 1.5rem 1.5rem;
}

.closed-sidebar.closed-sidebar-open .app-sidebar {
    width: 280px;
}

.closed-sidebar.closed-sidebar-open .vsm-header {
    text-indent: 0em;
}

.closed-sidebar.closed-sidebar-open .vsm-arrow,
.closed-sidebar.closed-sidebar-open .vsm-title {
    display: block;
}

.closed-sidebar.closed-sidebar-open .vsm-icon {
    left: 5px;
    margin-left: 0;
}

@media only screen and (max-width:1200px) {
    .closed-sidebar.closed-sidebar-open .header-pane {
        display: none !important;
    }
}

.vsm-link.active-item {
    font-weight: bold;
}

.icon-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* card */
.card {
    border-width: 0;
    box-shadow:
        0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.card-btm-border {
    border-bottom: transparent solid 4px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.card-header,
.card-footer {
    background-color: #fff;
}

.card-footer {
    border-top: 1px solid rgba(26, 54, 126, 0.125);
}

.card-header {
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 0.88rem;
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
}

.card-shadow-success {
    box-shadow: 0 0.46875rem 2.1875rem rgba(58, 196, 125, 0.03), 0 0.9375rem 1.40625rem rgba(58, 196, 125, 0.03), 0 0.25rem 0.53125rem rgba(58, 196, 125, 0.05), 0 0.125rem 0.1875rem rgba(58, 196, 125, 0.03);
}

.btn-link {
    color: #3f6ad8;
}

#app,
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#insert-attendance #map {
    height: 500px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}

.table-hover tbody tr:hover {
    background-color: #e0f3ff;
}

.badge {
    text-transform: uppercase;
    padding: 5px 10px;
    min-width: 19px;
}

.rm-border {
    border-width: 0 !important;
}

/* widget-content */
.widget-content .widget-content-outer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}

.widget-content .widget-content-right {
    margin-left: auto;
}

.widget-content .widget-numbers {
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
}

/* widget-chat */
.widget-chart.text-left .widget-chart-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    position: relative;
}

.widget-chart.text-left .widget-numbers {
    margin-left: 0;
}

.widget-chart .widget-subheading {
    margin: -0.5rem 0 0;
    display: block;
    opacity: .6;
}

.widget-chart .widget-chart-flex:last-child {
    margin-bottom: 0;
}

.widget-chart2 .widget-chart-flex {
    display: flex;
    align-items: baseline;
    align-content: center;
    margin-bottom: 0;
}


/* opacity */
.opacity-6 {
    opacity: .6 !important;
}

/* font size */
.fsize-3 {
    font-size: 1.6rem !important;
}

.fsize-4 {
    font-size: 2rem !important;
}

/* progress */
.progress.progress-bar-xs {
    height: .3rem;
}

/* card */
.card .card-footer {
    align-items: center;
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

/* margin */
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

/* grid-menu */
.grid-menu .btn {
    display: block;
    border: 0;
    min-width: 100%;
}

/* btn */
.btn-sm.btn-icon-only {
    line-height: 0;
    padding: .43rem .5rem;
}

.btn-icon-vertical.btn-transition-text .btn-icon-wrapper {
    transition: all .2s !important;
}

.btn-icon-vertical .btn-icon-wrapper {
    display: block;
    font-size: 200%;
    margin: 5px 0;
    opacity: .6;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-icon-vertical.btn-transition-text.btn-transition-alt:hover .btn-icon-wrapper {
    color: #fff !important;
}

.btn-lg.btn-wide,
.btn-group-lg .btn-wide.btn {
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    background-color: #28a745;
    opacity: .6 !important;
    position: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: all 0.3s;
}

.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

.switchmenu {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: all 0.3s;
}

.switchmenu::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

.checkbox:checked+.switch::after {
    left: 20px;
}

.checkbox:checked+.switch {
    background-color: #28a745;
}

.checkbox:checked+.switchmenu::after {
    left: 20px;
}

.checkbox:checked+.switchmenu {
    background-color: rgba(0, 0, 0, 0.5);
}

.checkbox {
    display: none;
}

.dropzone-style .dropzone {
    width: 10rem;
    padding: 15px 2px !important;
}

.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.text-pink {
    color: #ff679b !important;
}

.btn-rounded {
    border-radius: 2em;
}

.text-muted {
    color: #98a6ad !important;
}

h4 {
    line-height: 22px;
    font-size: 18px;
}

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* combobox limit show */

select {
    height: calc(1.5em + .75rem + 2px);
    padding: 4px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
}

select:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    border: 1px solid rgba(81, 203, 238, 1);
    outline: none;
}

select::after {
    border-color: transparent transparent transparent transparent;
}

/* input search */

input {
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

input:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    border: 1px solid rgba(81, 203, 238, 1);
    outline: none;
}

/* swal token expired */

/* div.swal2-popup, .swal2-content, .select2 .select2-container .select2-container--bootstrap4 .select2-container--below, .selection {
    flex-direction: row;
}  */

.swal2-popup,
.swal2-content .select2-container--bootstrap4 .select2-selection {
    border: none;
    cursor: default;
}

.swal2-content .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-style: none;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
    padding: 10px 19px;
}

.bg-card-title {
    background-color: #3f6ad8 !important;
}