<!-- ANCHOR Navigation Bar -->
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-info" id="customerButton" data-toggle="tab" href="#customerHeader"
            role="tab" aria-controls="customerHeader" aria-selected="true"><strong>CUSTOMER</strong></a>
        <a class="nav-item nav-link text-info" id="outletButton" data-toggle="tab" href="#outletHeader" role="tab"
            aria-controls="outletHeader" aria-selected="false"><strong>OUTLET</strong></a>
        <a class="nav-item nav-link text-info" id="productButton" data-toggle="tab" href="#productHeader" role="tab"
            aria-controls="productHeader" aria-selected="false"><strong>PRODUCT</strong></a>
        <a class="nav-item nav-link text-info" id="ffButton" data-toggle="tab" href="#FFHeader" role="tab"
            aria-controls="FFHeader" aria-selected="false"><strong>FF</strong></a>
    </div>
</nav>
<div class="tab-content">
    <!-- NOTE Customer Menu -->
    <div class="list-group tab-pane active mb-2 unloaded" id="customerHeader">
        <div class="list-group-item mt-2 border-dark">
            <div class="row rounded">
                <div class="col-12">
                    <div style="height: 400px;width: 100%;" id="CustomerPieChart">
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item border-dark">
            <div class="input-group">
                <select class="custom-select" id="CustomerSort" placeholder="Sort by" data-allow-clear="1">
                    <option value=""></option>
                    <option value=1>Sales</option>
                    <option value=2>Outlet</option>
                    <option value=3>Product</option>
                    <option value=4>Call</option>
                </select>
                <input type="text" class="form-control" placeholder="Search for names" id="CustomerSearch">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-outline-info"
                        onclick="inputSearch('CustomerSearch', 'Customer')">Search</button>
                </div>
            </div>
            <div class="font-weight-light text-secondary text-right pt-2" id="customerFilter">
                <b>Filter by :</b> Top 10 Sales
            </div>
        </div>
        <div class="list-group mb-2" id="customerMenu">

        </div>
    </div>
    <!-- NOTE Outlet Menu -->
    <div class="list-group tab-pane fade mb-2 unloaded" id="outletHeader">
        <div class="list-group-item mt-2 border-dark">
            <div class="row rounded">
                <div class="col-12">
                    <div style="height: 400px;width: 100%;" id="OutletPieChart">
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item border-dark">
            <div class="input-group">
                <select class="custom-select" id="OutletSort" placeholder="Sort by" data-allow-clear="1">
                    <option value=""></option>
                    <option value=1>Sales</option>
                    <option value=3>Customer</option>
                    <option value=2>Product</option>
                    <option value=4>Call</option>
                </select>
                <input type="text" class="form-control" placeholder="Search for outlets" id="OutletSearch">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-outline-info"
                        onclick="inputSearch('OutletSearch', 'Outlet')">Search</button>
                </div>
            </div>
            <div class="font-weight-light text-secondary text-right pt-2" id="outletFilter">
                <b>Filter by :</b> Top 10 Sales
            </div>
        </div>
        <div class="list-group mb-2" id="outletMenu">
        </div>
    </div>
    <!-- NOTE Product Menu -->
    <div class="list-group tab-pane fade mb-2 unloaded" id="productHeader">
        <div class="list-group-item mt-2 border-dark">
            <div class="row rounded">
                <div class="col-12">
                    <div style="height: 400px;width: 100%;" id="ProductPieChart">
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item border-dark">
            <div class="input-group">
                <select class="custom-select" id="ProductSort" placeholder="Sort by" data-allow-clear="1">
                    <option value=""></option>
                    <option value=1>Sales</option>
                    <option value=2>Customer</option>
                    <option value=3>Outlet</option>
                    <option value=4>FF</option>
                </select>
                <input type="text" class="form-control" placeholder="Search for products" id="ProductSearch">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-outline-info"
                        onclick="inputSearch('ProductSearch', 'Product')">Search</button>
                </div>
            </div>
            <div class="font-weight-light text-secondary text-right pt-2" id="productFilter">
                <b>Filter by :</b> Top 10 Sales
            </div>
        </div>
        <div class="list-group mb-2" id="productMenu">
        </div>
    </div>
    <!-- NOTE FF Menu -->
    <div class="list-group tab-pane fade mb-2 unloaded" id="FFHeader">
        <div class="list-group-item mt-2 border-dark">
            <div class="row rounded">
                <div class="col-12">
                    <div style="height: 400px;width: 100%;" id="FFPieChart">
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item border-dark">
            <div class="input-group">
                <select class="custom-select" id="FFSort" placeholder="Sort by" data-allow-clear="1">
                    <option value=""></option>
                    <option value=1>Sales</option>
                    <option value=2>Customer</option>
                    <option value=3>Outlet</option>
                    <option value=4>Product</option>
                </select>
                <input type="text" class="form-control" placeholder="Search for FFs" id="FFSearch">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-outline-info"
                        onclick="inputSearch('FFSearch', 'FF')">Search</button>
                </div>
            </div>
            <div class="font-weight-light text-secondary text-right pt-2" id="ffFilter">
                <b>Filter by :</b> Top 10 Sales
            </div>
        </div>
        <div class="list-group mb-2" id="FFMenu">
        </div>
    </div>
</div>

<script>
    $.ajax({
        url: "src/views/pages/menu/administration/dashboard/analytics/analytics-charts.js"
    });
</script>