<!-- <link rel="stylesheet" href="/src/views/components/topbar/topbar.css"> -->

<div class="app-header header-shadow">
    <div class="app-header-right">
        <div class="user-info mr-3 text-right">
            <div class="user-info-heading"></div>
            <div class="user-info-subheading"></div>
        </div>
        <div class="dropdown">
            <button class="btn btn-link p-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="show setting">
                <img class="rounded-circle" id="user-picture" src="/src/assets/image/person-placeholder.jpg" width="42" alt="user picture">
            </button>
            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="dropdownMenuButton">
                <div class="settings-header">
                    <div class="settings-header-inner">
                        <div class="settings-header-background">
                        </div>
                        <div class="settings-header-content text-dark">
                            <h5 class="settings-header-title">Settings</h5>
                            <h6 class="settings-header-subtitle">Manage all of your options</h6>
                        </div>
                    </div>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item-header nav-item">Activity</li>
                    <li class="nav-item">
                        <a class="nav-link" href="null">
                            <i class="material-icons-outlined">chat</i>
                            <span>Chat</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="null">
                            <i class="material-icons-outlined">lock</i>
                            <span>Recover Password</span>
                        </a>
                    </li>
                    <li class="nav-item-header nav-item">My Account</li>
                    <li class="nav-item">
                        <a class="nav-link" href="null">
                            <i class="material-icons-outlined">settings</i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="null">
                            <i class="material-icons-outlined">vpn_key</i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" id="auth-logged-out">
                            <i class="material-icons-outlined">exit_to_app</i>
                            <span>Log out</span>
                        </a>
                    </li>
                    <li class="nav-item-divider nav-item"></li>
                    <li class="nav-item-btn text-right nav-item">
                        <button class="btn-pill btn btn-success btn-sm">Close</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({ url: "src/views/components/topbar/topbar.js" });
</script>