<div class="card mb-4 incentive-header">
    <div class="card-header">
        City
        <div class="ml-auto">
            <button class="btn btn-success btn-lg create-button" id="cities-create">Create</button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover dt-responsive nowrap" style="width:100%" id="table-cities">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Create at</th>
                    <th>Update at</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $.ajax({ url: 'src/views/pages/menu/administration/master/cities/cities-table.js' });
</script>