<form id="cities-create" novalidate>
    <div class="card mb-4">
        <div class="card-header">
            Create
            <div class="ml-auto">
                <a class="btn btn-warning btn-lg" id="back">Back</a>
            </div>
        </div>
        <div class="card-body">
            <div class="mx-auto col-md-8">
                <div class="form-group">
                    <label for="id-cities">City ID</label>
                    <input type="text" class="form-control" id="id-cities" name="id-cities" maxlength="3" required>
                    <div class="invalid-feedback" max="3">
                        This field is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="nama-cities">City Name</label>
                    <input type="text" class="form-control" id="name-cities" name="name-cities" maxlength="30" required>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="mr-2 btn btn-link btn-sm" type="button" id="form-cancel">Cancel</button>
            <button class="btn btn-success btn-lg" type="submit">Save</button>
        </div>
    </div>
</form>
<script>
    $.ajax({ url: "src/views/pages/menu/administration/master/cities/cities-create.js" });
</script>