<div class="app-container">

    <div id="topbar"></div>
    <div id="sidebar"></div>

    <div class="app-content-outer">
        <div class="app-content-inner">

            <div id="content" data-show="0" data-add="0" data-edit="0" data-delete="0" data-print="0"></div>

        </div>
    </div>
</div>

<script>
    $.ajax({ url: "src/views/pages/dashboard/dashboard.js" });
</script>