<div id="sales">
    <div class="card mb-4 check-data">
        <div class="card-header">
            <div class="ml-auto" style="margin-right: 100px;">
                <form name="dashboard_sales" style="width:900px;">
                    <div class="card-body row">
                        <div class="col" for="periode">
                            <select class="custom-select" id="periode" name="periode" placeholder="Periode"
                                data-allow-clear="1" required>
                                <option>Pilih Periode</option>
                            </select>
                        </div>
                        <div class="col" for="jabatan">
                            <select class="custom-select" id="jabatan" name="jabatan" placeholder="Jabatan"
                                data-allow-clear="1" required>
                                <option>Pilih Jabatan</option>
                            </select>
                        </div>
                        <div class="col" for="kodeff">
                            <select class="custom-select" id="kodeff" name="kodeff" placeholder="Kode FF"
                                data-allow-clear="1">
                                <option>Pilih FF</option>
                            </select>
                        </div>

                        <div class="col" for="namaGT">
                            <input type="text" class="form-control" id="namaGT" style="width:200px;">
                        </div>
                        <div class="col-md-1">
                            <div>
                                <div class="ml-auto">
                                    <button class="btn btn-secondary btn-lg" type="submit">Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ml-auto">
            <div class="form-check" style="margin-right: 800px;">
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover nowrap" style="width:100%" id="table-check-data">
                <thead>
                    <tr>
                        <th rowspan="2">Periode</th>
                        <th rowspan="2" id="name"></th>
                        <th rowspan="2">JabGT</th>
                        <th rowspan="2">Kode Area</th>
                        <th colspan="12">Nama Bulan</th>
                        <th rowspan="2">Total</th>
                        <th rowspan=" 2">Action</th>
                    </tr>
                    <tr>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>Apr</th>
                        <th>Mei</th>
                        <th>Jun</th>
                        <th>Jul</th>
                        <th>Agu</th>
                        <th>Sep</th>
                        <th>Okt</th>
                        <th>Nov</th>
                        <th>Des</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>
        </div>
    </div>
</div>
<script>
    $.ajax({
        url: "src/views/pages/menu/marketing/dashboard_sales/analis-sales/analis-sales-table.js"
    });
</script>